/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: Regular;
  font-size: 1.2rem;
  line-height: 26px;
}
html body .container {
  width: 85%;
  margin: 0 auto;
}
html body .container .hidden {
  display: none;
}
.menu-content {
  background-color: #828282;
  width: 100%;
}
.menu-content nav {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: row;
}
.menu-content nav h1 {
  font-weight: Bold;
  font-size: 24px;
  padding-right: 30px;
  color: #FFFFFF;
}
.menu-content nav a {
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  padding: 0 10px;
}
.home-page-intro {
  width: 100%;
  position: relative;
}
.home-page-intro .intro-pic {
  width: 100%;
}
.home-page-intro h1 {
  position: absolute;
  z-index: 5;
  bottom: 100px;
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFF;
  padding-left: 80px;
}
.services-intro {
  width: 100%;
  position: relative;
}
.services-intro .intro-pic {
  width: 100%;
  height: auto;
}
.services-intro h1 {
  position: absolute;
  z-index: 5;
  bottom: 35px;
  left: 15px;
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFF;
}
.preview {
  display: flex;
}
.preview .about {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.preview .about h3 {
  font-weight: Bold;
  font-size: 1.4rem;
}
.preview .about .home-text-container {
  width: 30%;
  flex-wrap: wrap;
}
.preview .about .btn {
  border: 1px solid #222222;
  padding: 10px;
  color: #222222;
  cursor: pointer;
}
.preview .about .about-pic {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.preview .design-pic {
  width: 55%;
  margin-bottom: 30px;
  height: auto;
}
.preview .designs {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-left: 10px;
}
.preview .designs h3 {
  font-weight: Bold;
  font-size: 1.4rem;
}
.preview .designs a {
  text-decoration: none;
}
.preview .designs .btn {
  border: 1px solid #222222;
  padding: 10px;
  color: #222222;
}
.recent-projects h3 {
  font-weight: Bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.recent-projects .villa {
  width: 100%;
  position: relative;
}
.recent-projects .villa h2 {
  display: flex;
  font-weight: Bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
  background-color: #D8D8D8;
  width: 30%;
  padding: 20px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 79%;
}
.recent-projects .villa p {
  margin: 30px 0;
}
.recent-projects .outskirts {
  width: 100%;
  position: relative;
}
.recent-projects .outskirts h2 {
  display: flex;
  font-weight: Bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
  background-color: #D8D8D8;
  width: 30%;
  padding: 20px;
  justify-content: center;
  position: absolute;
  top: 40%;
}
.recent-projects .outskirts p {
  margin: 30px 0;
}
.recent-projects .blocks {
  width: 100%;
  position: relative;
}
.recent-projects .blocks h2 {
  display: flex;
  font-weight: Bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
  background-color: #D8D8D8;
  width: 30%;
  padding: 20px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 79%;
}
.recent-projects .blocks p {
  margin: 30px 0;
}
.services-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: Regular;
}
.tabs {
  display: flex;
  margin: 20px;
}
.tabs .active-tab {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.tabs .tab {
  display: flex;
  border: 2px solid #222222;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  justify-content: space-between;
  font-weight: Bold;
}
.tabs .tab:hover {
  cursor: pointer;
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.cards {
  padding: 20px;
}
.cards .card {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.cards .card .card-text-container {
  width: 47%;
}
.cards .card .card-text-container .card-header {
  font-size: 1.7rem;
  font-weight: Bold;
  margin-bottom: 10px;
}
.cards .card .card-text-container .top-txt {
  margin-bottom: 17px;
}
.cards .card .card-img {
  margin-left: 7px;
}
footer {
  width: 100%;
  background-color: #828282;
  padding: 45px 10px;
}
footer .footer-content {
  display: flex;
  width: 80%;
  margin: auto;
  color: #FFF;
  font-weight: Regular;
  justify-content: space-between;
  align-content: center;
  line-height: 26px;
}
footer .footer-content .input input {
  padding: 5px;
  width: 70%;
  margin: 10px 0;
  color: grey;
}
footer .copyright {
  width: 100%;
  display: flex;
}
footer .copyright h5 {
  font-size: 20px;
  line-height: 24px;
}
footer .copyright p {
  padding-top: 30px;
  justify-content: center;
  margin: 0 auto;
  color: #FFF;
  font-size: 14px;
  line-height: 26px;
}
/* Your Code Goes Here */
