
    .preview{
        display: flex;
        //flex-wrap: wrap;
        
        .about{
            display: flex;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            h3{
                font-weight: @header-font-weight;
                font-size: @sub-head-font-size;
            }
            .home-text-container{
                width: 30%;
                flex-wrap: wrap;
            }
            .btn{
                border: 1px solid @color;
                padding: 10px;
                color: @color;
                cursor: pointer;
            }
            .about-pic{
            width: 30%;
            margin-top: 30px;
            margin-bottom: 30px;
            }
        }
        
        .design-pic{
            width: 55%;
            margin-bottom: 30px;
            height: auto;
        }
        .designs{
            display: flex;
            width: 40%;
            flex-wrap: wrap; 
            margin-bottom: 30px;
            padding-left: 10px;
            h3{
                font-weight: @header-font-weight;
                font-size: @sub-head-font-size;
            }
            a{
                text-decoration: none;
            }
            .btn{
                border: 1px solid @color;
                padding: 10px;
                color: @color;
            }
        }
        
    }

    .recent-projects{

        h3{
            font-weight: @header-font-weight;
            font-size: @sub-head-font-size;
            margin-bottom: 10px; 
        }
        .villa{
            width: 100%;
            position: relative;
            h2{
                display: flex;
                font-weight: @header-font-weight;
                font-size: @sub-head-font-size;
                margin-bottom: 10px;
                background-color: @nav-color;
                width: 30%;
                padding: 20px;
                justify-content: center;
                position: absolute;
                top: 40%;
                left: 79%;
                
            }
            p{
                margin: 30px 0;
            }
        }

        .outskirts{
            width: 100%;
            position: relative;
            h2{
                display: flex;
                font-weight: @header-font-weight;
                font-size: @sub-head-font-size;
                margin-bottom: 10px;
                background-color: @nav-color;
                width: 30%;
                padding: 20px;
                justify-content: center;
                position: absolute;
                top: 40%;
            }
            p{
                margin: 30px 0;
            }
        }

        .blocks{
            width: 100%;
            position: relative;
            h2{
                display: flex;
                font-weight: @header-font-weight;
                font-size: @sub-head-font-size;
                margin-bottom: 10px;
                background-color: @nav-color;
                width: 30%;
                padding: 20px;
                justify-content: center;
                position: absolute;
                top: 40%;
                left: 79%;
            }
            p{
                margin: 30px 0;
            }
        }
    }
