//Imports here

@import 'reset.less';
@import 'nav.less';

/* Your Code Goes Here */
body{
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
    
  
    }
}