.menu-content{
    background-color: @foot-bg;
    width: 100%;

    nav{
      display: flex;
      width: 100%;
      padding: 10px;
      flex-direction: row;

      h1{
        font-weight: @logo-font-weight;
        font-size: @logo-txt-size;
        padding-right: 30px;
        color: @bg-color;
      }

      a{
        width: 100%;
        justify-content: flex-end;
        text-decoration: none;
        padding: 0 10px;
      }
    }
} 